@import './ress';

html,
body {
  overflow: hidden;
  font-family: 'Share Tech Mono', monospace;
  user-select: none;
  cursor: default;
  background-color: #191d22;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

canvas {
  //width: 100vw;
  //height: auto;
  display: block;
}
